{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<h1 class="mb-4">Edit Category</h1>
{{form(form)}}
<hr>
<a href="{{ path('category.index') }}">Back to categories</a>
{% endblock %}
